## Reevaluacion modulo 2

#### Buscar alguna API complementaria, con la que se pudieran enriquecer los datos existentes (no es necesario implementarlo)

In [2]:
pip install requests

Collecting requests
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.8/62.8 kB 1.7 MB/s eta 0:00:00
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.4/140.4 kB 4.2 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
     ---------------------------------------- 161.1/161.1 kB ? eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.5/61.5 kB ? eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2022.9.24 charset-normalizer-2.1.1 idna-3.4 requests-2.28.1 urllib3-1.26.12
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script normalizer.exe is installed in 'C:\Users\antoa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: C:\Users\antoa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [16]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np
import mysql.connector
pd.options.display.max_columns=None

In [82]:
url = 'https://imdb-api.com/en/API/Title/k_q91fvr3w/tt1375666/FullActor'

response = requests.get(url=url)
response.json()

{'id': 'tt1375666',
 'title': 'Inception',
 'originalTitle': '',
 'fullTitle': 'Inception (2010)',
 'type': 'Movie',
 'year': '2010',
 'image': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_Ratio0.6762_AL_.jpg',
 'releaseDate': '2010-07-16',
 'runtimeMins': '148',
 'runtimeStr': '2h 28min',
 'plot': 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.',
 'plotLocal': '',
 'plotLocalIsRtl': False,
 'awards': 'Top rated movie #13 | Won 4 Oscars, 158 wins & 220 nominations total',
 'directors': 'Christopher Nolan',
 'directorList': [{'id': 'nm0634240', 'name': 'Christopher Nolan'}],
 'writers': 'Christopher Nolan',
 'writerList': [{'id': 'nm0634240', 'name': 'Christopher Nolan'}],
 'stars': 'Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page',
 'starList': [{'id': 'nm0000138', 'name': 'Leonardo DiCaprio'},
  {'id': 'nm0330687', 'name': 'Joseph Gordon-Levitt'},
  {'id': 'nm0680983', 'name': 'Elliot Page'}],
 'actorList': [{'id': 'nm0000138',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjI0MTg3MzI0M15BMl5BanBnXkFtZTcwMzQyODU2Mw@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Leonardo DiCaprio',
   'asCharacter': 'Cobb'},
  {'id': 'nm0330687',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTY3NTk0NDI3Ml5BMl5BanBnXkFtZTgwNDA3NjY0MjE@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Joseph Gordon-Levitt',
   'asCharacter': 'Arthur'},
  {'id': 'nm0680983',
   'image': 'https://m.media-amazon.com/images/M/MV5BNmNhZmFjM2ItNTlkNi00ZTQ4LTk3NzYtYTgwNTJiMTg4OWQzXkEyXkFqcGdeQXVyMTM1MjAxMDc3._V1_Ratio0.7273_AL_.jpg',
   'name': 'Elliot Page',
   'asCharacter': 'Ariadne (as Ellen Page)'},
  {'id': 'nm0362766',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTQ3ODEyNjA4Nl5BMl5BanBnXkFtZTgwMTE4ODMyMjE@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Tom Hardy',
   'asCharacter': 'Eames'},
  {'id': 'nm0913822',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTQzMTUzNjc4Nl5BMl5BanBnXkFtZTcwMTUyODU2Mw@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Ken Watanabe',
   'asCharacter': 'Saito'},
  {'id': 'nm2438307',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTI5Nzc2NTc2MF5BMl5BanBnXkFtZTcwMDM2MTc1Mg@@._V1_Ratio1.5000_AL_.jpg',
   'name': 'Dileep Rao',
   'asCharacter': 'Yusuf'},
  {'id': 'nm0614165',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTUzMjg1NzIyOV5BMl5BanBnXkFtZTYwMzg2Mjgy._V1_Ratio0.7273_AL_.jpg',
   'name': 'Cillian Murphy',
   'asCharacter': 'Robert Fischer'},
  {'id': 'nm0000297',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTk1OTQ5MzUzM15BMl5BanBnXkFtZTgwMDUxMTY1NDE@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Tom Berenger',
   'asCharacter': 'Browning'},
  {'id': 'nm0182839',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTQxNTEzNTkwNF5BMl5BanBnXkFtZTcwNzQ2NDIwOQ@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Marion Cotillard',
   'asCharacter': 'Mal'},
  {'id': 'nm0000592',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTMyMjIxMTQ2NV5BMl5BanBnXkFtZTYwNDQ0NTE1._V1_Ratio0.7273_AL_.jpg',
   'name': 'Pete Postlethwaite',
   'asCharacter': 'Maurice Fischer'},
  {'id': 'nm0000323',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjAwNzIwNTQ4Ml5BMl5BanBnXkFtZTYwMzE1MTUz._V1_Ratio0.7273_AL_.jpg',
   'name': 'Michael Caine',
   'asCharacter': 'Miles'},
  {'id': 'nm0001305',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTQ3MjU1MDMxM15BMl5BanBnXkFtZTgwODk5ODE4MDE@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Lukas Haas',
   'asCharacter': 'Nash'},
  {'id': 'nm2581730',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Tai-Li Lee',
   'asCharacter': 'Tadashi'},
  {'id': 'nm3637500',
   'image': 'https://m.media-amazon.com/images/M/MV5BNGY5NWFkMTItNGFkNi00NzNiLWEyMDctZmM0NWNjMmVkNjg2XkEyXkFqcGdeQXVyMTAwMzUyMzUy._V1_Ratio0.7273_AL_.jpg',
   'name': 'Claire Geare',
   'asCharacter': 'Phillipa (3 Years Old)'},
  {'id': 'nm3960408',
   'image': 'https://m.media-amazon.com/images/M/MV5BN2ZjZTA4MGUtNGFiOS00MmExLTljMTQtNmVlODJmYTU2ZDU4L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNDAxOTExNTM@._V1_Ratio2.3636_AL_.jpg',
   'name': 'Magnus Nolan',
   'asCharacter': 'James (20 Months Old)'},
  {'id': 'nm2855622',
   'image': 'https://m.media-amazon.com/images/M/MV5BZTlkM2U2YWQtMjFmZS00ODVjLTg1ODMtYmRkMWUxMWZmYTE0XkEyXkFqcGdeQXVyMTI0NjI2Mzg5._V1_Ratio0.7273_AL_.jpg',
   'name': 'Taylor Geare',
   'asCharacter': 'Phillipa (5 Years Old)'},
  {'id': 'nm3638213',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Johnathan Geare',
   'asCharacter': 'James (3 Years Old)'},
  {'id': 'nm0556070',
   'image': 'https://m.media-amazon.com/images/M/MV5BNmVlMWVhYzktODE1Ny00YWYzLTlhOGYtNTZlZmNkMTJiMDAyXkEyXkFqcGdeQXVyNDAxMDUxOA@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Tohoru Masamune',
   'asCharacter': 'Japanese Security Guard'},
  {'id': 'nm0645785',
   'image': 'https://m.media-amazon.com/images/M/MV5BZGUxZGYwYTktYmQxYy00MDY1LWJhMmUtOTkwOWNmMDc1NzM5XkEyXkFqcGdeQXVyMzI0NTEwMjY@._V1_Ratio1.8182_AL_.jpg',
   'name': 'Yuji Okumoto',
   'asCharacter': "Saito's Attendant"},
  {'id': 'nm0131565',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTk3NzEyMTI5MV5BMl5BanBnXkFtZTcwNDgxNDIzOA@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Earl Cameron',
   'asCharacter': 'Elderly Bald Man'},
  {'id': 'nm1147074',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Ryan Hayward',
   'asCharacter': 'Lawyer'},
  {'id': 'nm3886541',
   'image': 'https://m.media-amazon.com/images/M/MV5BODU0ZjA5YzYtYTQ3OS00MzNjLWFkN2YtODE2OGIzYzcxNDE2XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.7727_AL_.jpg',
   'name': 'Miranda Nolan',
   'asCharacter': 'Flight Attendant'},
  {'id': 'nm0270383',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTMzNDE5MjI2MV5BMl5BanBnXkFtZTYwOTgwNzcy._V1_Ratio0.7273_AL_.jpg',
   'name': 'Russ Fega',
   'asCharacter': 'Cab Driver'},
  {'id': 'nm0445551',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjAwMjEwODE1N15BMl5BanBnXkFtZTgwNzM4MzY4ODE@._V1_Ratio1.2727_AL_.jpg',
   'name': 'Tim Kelleher',
   'asCharacter': 'Thin Man'},
  {'id': 'nm1506908',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjE0MzUwNTUxM15BMl5BanBnXkFtZTcwNzU1OTY5Ng@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Talulah Riley',
   'asCharacter': 'Blonde'},
  {'id': 'nm3862333',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Nicolas Clerc',
   'asCharacter': 'Bridge Sub Con'},
  {'id': 'nm1886397',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Coralie Dedykere',
   'asCharacter': 'Bridge Sub Con'},
  {'id': 'nm0481472',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Silvie Laguna',
   'asCharacter': 'Bridge Sub Con'},
  {'id': 'nm1522531',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTc1MzU5Mjk5NF5BMl5BanBnXkFtZTYwMDI0OTcy._V1_Ratio0.7273_AL_.jpg',
   'name': 'Virgile Bramly',
   'asCharacter': 'Bridge Sub Con'},
  {'id': 'nm0196815',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jean-Michel Dagory',
   'asCharacter': 'Bridge Sub Con'},
  {'id': 'nm2197472',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Helena Cullinan',
   'asCharacter': 'Penrose Sub Con'},
  {'id': 'nm2855554',
   'image': 'https://m.media-amazon.com/images/M/MV5BOTQxZmVhODgtZmEwOS00ZThmLWEzODQtNjE0NjExMWUwZDVkXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.8636_AL_.jpg',
   'name': 'Mark Fleischmann',
   'asCharacter': 'Penrose Sub Con'},
  {'id': 'nm2689325',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Shelley Lang',
   'asCharacter': 'Penrose Sub Con'},
  {'id': 'nm2462275',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Adam Cole',
   'asCharacter': 'Bar Sub Con'},
  {'id': 'nm0615007',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jack Murray',
   'asCharacter': 'Bar Sub Con'},
  {'id': 'nm1620995',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Kraig Thornber',
   'asCharacter': 'Bar Sub Con'},
  {'id': 'nm3960627',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Angela Nathenson',
   'asCharacter': 'Bar Sub Con'},
  {'id': 'nm1068659',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTU4ODkzNDg1MV5BMl5BanBnXkFtZTcwOTM4NDAzNw@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Natasha Beaumont',
   'asCharacter': 'Bar Sub Con'},
  {'id': 'nm0705874',
   'image': 'https://m.media-amazon.com/images/M/MV5BZmRjMzFkZGMtZGVkNS00NDFhLTk2MWEtNmE2NjRmYzZlZDFlXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Marc Raducci',
   'asCharacter': 'Lobby Sub Con'},
  {'id': 'nm0318784',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTk3MTBlMDUtNTRmNy00NTU5LWJkYzEtNjA0ZjhjNTBiOWEzXkEyXkFqcGdeQXVyNDk3MDE1OQ@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Carl Gilliard',
   'asCharacter': 'Lobby Sub Con'},
  {'id': 'nm1781653',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jill Maddrell',
   'asCharacter': 'Lobby Sub Con'},
  {'id': 'nm3123016',
   'image': 'https://m.media-amazon.com/images/M/MV5BNDY2ZGNhNGYtNWYyZS00NTEzLTk3NTktMDc1M2E1ODgwYWZjXkEyXkFqcGdeQXVyMTk4MjczOTg@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Alex Lombard',
   'asCharacter': 'Lobby Sub Con'},
  {'id': 'nm0700445',
   'image': 'https://m.media-amazon.com/images/M/MV5BM2MxMTk3MmUtZWE5MC00YmNjLWE0ZWMtOTFjODRiMDQwZDc5XkEyXkFqcGdeQXVyMjI3NTM0Mg@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Nicole Pulliam',
   'asCharacter': 'Lobby Sub Con'},
  {'id': 'nm3462529',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Peter Basham',
   'asCharacter': "Fischer's Jet Captain"},
  {'id': 'nm0309461',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDE0MzdmYmMtMjkwMy00NGIwLWFiNWQtNjFiNjNlMzY5YzQzXkEyXkFqcGdeQXVyMzIxNDc2MDI@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Michael Gaston',
   'asCharacter': 'Immigration Officer'},
  {'id': 'nm1907658',
   'image': 'https://m.media-amazon.com/images/M/MV5BYWQwMmE5ZTAtNTYwZC00MDUyLWE4MjQtZDA4N2RjYzVmOWU3XkEyXkFqcGdeQXVyMTA0MzM0ODgz._V1_Ratio0.7273_AL_.jpg',
   'name': 'Felix Scott',
   'asCharacter': 'Businessman'},
  {'id': 'nm0687091',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTIwMTIzNTk4OV5BMl5BanBnXkFtZTcwOTc3NjIzMQ@@._V1_Ratio0.9545_AL_.jpg',
   'name': 'Andrew Pleavin',
   'asCharacter': 'Businessman'},
  {'id': 'nm0721835',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Lisa Reynolds',
   'asCharacter': 'Private Nurse'},
  {'id': 'nm2278735',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jason Tendell',
   'asCharacter': "Fischer's Driver"},
  {'id': 'nm0319669',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jack Gilroy',
   'asCharacter': 'Old Cobb'},
  {'id': 'nm0919952',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Shannon Welles',
   'asCharacter': 'Old Mal'},
  {'id': 'nm3230097',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Michael August',
   'asCharacter': 'LAX Passenger (uncredited)'},
  {'id': 'nm2145616',
   'image': 'https://m.media-amazon.com/images/M/MV5BYzQzZmFkNzctMzQ3Yi00NmFjLTg5NWYtZGI3ZDc4YjMzOTAzXkEyXkFqcGdeQXVyMjIwOTcwODA@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Ken Bhan',
   'asCharacter': 'Mombasan Gambler (uncredited)'},
  {'id': 'nm0132711',
   'image': 'https://m.media-amazon.com/images/M/MV5BNjAwMDE4MDQzOF5BMl5BanBnXkFtZTcwNDc3NjQ2OA@@._V1_Ratio0.7727_AL_.jpg',
   'name': 'Marvin Campbell',
   'asCharacter': 'Hallway Guard (uncredited)'},
  {'id': 'nm0136563',
   'image': 'https://m.media-amazon.com/images/M/MV5BOTFkZGNkYjYtNjQwMi00NDE4LTllZmMtYmQ3ZDhmMjI1ZjhhXkEyXkFqcGdeQXVyMjMwMzQ0Ng@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Hélène Cardona',
   'asCharacter': 'French Student (voice) (uncredited)'},
  {'id': 'nm2554469',
   'image': 'https://m.media-amazon.com/images/M/MV5BODE5YzQyYjktNjE0Ny00YTE0LWE0NjctMmQ3NjViMWRkZjhmXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.8182_AL_.jpg',
   'name': 'John Ceallach',
   'asCharacter': 'LAX Passenger (uncredited)'},
  {'id': 'nm0160324',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzAxNzEwMDMtYTNiZi00M2U1LWE5YWUtNDYzMzdkNWQ2ODA1XkEyXkFqcGdeQXVyMzcxMjE3NzU@._V1_Ratio0.7727_AL_.jpg',
   'name': 'Gregg Christie',
   'asCharacter': 'Stock Broker (uncredited)'},
  {'id': 'nm0189162',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjA1OTY4ODQyM15BMl5BanBnXkFtZTcwMjYxNDAzMQ@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Garvin Cross',
   'asCharacter': 'Snow Commander (uncredited)'},
  {'id': 'nm3050181',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'James Currie',
   'asCharacter': 'Lawyer (uncredited)'},
  {'id': 'nm3769592',
   'image': 'https://m.media-amazon.com/images/M/MV5BNjEzNGRmYTYtOTM5NS00M2Y4LTliMWQtNzZkODljZmJhY2JlXkEyXkFqcGdeQXVyNTk1MDc1MDQ@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Youlanda Davis',
   'asCharacter': 'Mombasan Cashier (uncredited)'},
  {'id': 'nm1994157',
   'image': 'https://m.media-amazon.com/images/M/MV5BZjFiNGEyNDMtYzZlMi00Y2I2LTljNTEtYTUwOGUyNDNhNjJkXkEyXkFqcGdeQXVyNDEzODY3OTA@._V1_Ratio0.7727_AL_.jpg',
   'name': 'Julie Eagleton',
   'asCharacter': 'Stockbroker (uncredited)'},
  {'id': 'nm4131076',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTgyNzIwMjc3OV5BMl5BanBnXkFtZTgwMDAwNjE0OTE@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Seve Esposito',
   'asCharacter': 'Italian Gambler (uncredited)'},
  {'id': 'nm4414994',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTZiMmRjMjMtMzFlOC00NDY5LThiMDUtMGFhMjNlN2U0YmRhXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Marcus Everett',
   'asCharacter': 'Stock Broker (uncredited)'},
  {'id': 'nm3917836',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Zachary Christopher Fay',
   'asCharacter': 'Extra (uncredited)'},
  {'id': 'nm3549892',
   'image': 'https://m.media-amazon.com/images/M/MV5BZTJmNGM5ZWUtYjJlNS00ODFkLWJhZGYtOGY0MTZkOTY4N2E4XkEyXkFqcGdeQXVyOTc5MzkyNg@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Daniel Girondeaud',
   'asCharacter': 'Bridge Sub Con (uncredited)'},
  {'id': 'nm3653808',
   'image': 'https://m.media-amazon.com/images/M/MV5BNTA1OGI0N2YtZTc2My00ZTcxLWJiYjctMGVhYWUwZDBiY2YwXkEyXkFqcGdeQXVyMjI5Nzg2MDM@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Natalie Goldwin',
   'asCharacter': 'LAX Passenger (uncredited)'},
  {'id': 'nm1368534',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjE3Mzc4NTM5NF5BMl5BanBnXkFtZTcwMzc0NTgyMQ@@._V1_Ratio1.1364_AL_.jpg',
   'name': 'Allan Hale',
   'asCharacter': 'Immigration Officer (uncredited)'},
  {'id': 'nm1660476',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Andrew Hoagland',
   'asCharacter': 'Pedestrian (uncredited)'},
  {'id': 'nm7703817',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Guy Iannacone',
   'asCharacter': 'Airport Patron (uncredited)'},
  {'id': 'nm3638581',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Marguerite Gioia Insolia',
   'asCharacter': 'Reporter (uncredited)'},
  {'id': 'nm4346594',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Charles Jarrell',
   'asCharacter': 'Hotel Guest (uncredited)'},
  {'id': 'nm3780879',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Seong-hwan Jo',
   'asCharacter': 'Japanese Landing Crew (uncredited)'},
  {'id': 'nm1115889',
   'image': 'https://m.media-amazon.com/images/M/MV5BZmU1Y2M4OWEtMGVkOC00ZWI4LTk1NzEtYzFjNDRkMDlhOGRlXkEyXkFqcGdeQXVyMTA1OTU3MjM@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Alonzo F. Jones',
   'asCharacter': 'Mombasan Casino Staff (uncredited)'},
  {'id': 'nm1783154',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjA3NzExOTY3OF5BMl5BanBnXkFtZTcwMjQ1NTAzMQ@@._V1_Ratio0.7727_AL_.jpg',
   'name': 'Mobin Khan',
   'asCharacter': 'Mombasa Casino Cashier (uncredited)'},
  {'id': 'nm1402638',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Shunsaku Kudô',
   'asCharacter': "Saito's Bodyguard Officer (uncredited)"},
  {'id': 'nm3254124',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjA0YmQ0NDYtMWVjNi00NGUxLTk0ZTEtNDM1ZDNlYTJlZWU0XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Leticia LaBelle',
   'asCharacter': 'Airport Patron (uncredited)'},
  {'id': 'nm2364305',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'John Lawson',
   'asCharacter': 'Street Person (uncredited)'},
  {'id': 'nm2545052',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Jean-Christophe Leger',
   'asCharacter': 'French Student (uncredited)'},
  {'id': 'nm7419291',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Arnold Montey',
   'asCharacter': 'Stock Broker (uncredited)'},
  {'id': 'nm4451348',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'François-Marie Nivon',
   'asCharacter': 'A Passer-By (uncredited)'},
  {'id': 'nm3792623',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Scott Pretty',
   'asCharacter': 'Pedestrian (uncredited)'},
  {'id': 'nm2411840',
   'image': 'https://m.media-amazon.com/images/M/MV5BOTcxYTA4MzItMjg2Ny00N2JkLTkwODItMTFjNWY3ODRmNTRlXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio0.8182_AL_.jpg',
   'name': 'Benjamin Riley',
   'asCharacter': 'Bridge Sub Con (uncredited)'},
  {'id': 'nm0757955',
   'image': 'https://m.media-amazon.com/images/M/MV5BNDkxNDAyODQ1M15BMl5BanBnXkFtZTcwMTcyNzcyMQ@@._V1_Ratio0.7273_AL_.jpg',
   'name': 'Norman Saleet',
   'asCharacter': 'Airport Patron (uncredited)'},
  {'id': 'nm4195263',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Colin Smith',
   'asCharacter': 'Airport Patron (uncredited)'},
  {'id': 'nm3934065',
   'image': 'https://imdb-api.com/images/original/nopicture.jpg',
   'name': 'Affan Tareen',
   'asCharacter': 'Denison (uncredited)'},
  {'id': 'nm0900934',
   'image': 'https://m.media-amazon.com/images/M/MV5BNTlhNjY3OWMtMmQzOC00YjM3LWJlOWYtYmM2MTM2MTYzNTRmXkEyXkFqcGdeQXVyMTI1MzE5OTkz._V1_Ratio1.0909_AL_.jpg',
   'name': 'Matt Vogel',
   'asCharacter': 'Zeke - Pedestrian (uncredited)'}],
 'fullCast': None,
 'genres': 'Action, Adventure, Sci-Fi',
 'genreList': [{'key': 'Action', 'value': 'Action'},
  {'key': 'Adventure', 'value': 'Adventure'},
  {'key': 'Sci-Fi', 'value': 'Sci-Fi'}],
 'companies': 'Warner Bros., Legendary Entertainment, Syncopy',
 'companyList': [{'id': 'co0002663', 'name': 'Warner Bros.'},
  {'id': 'co0159111', 'name': 'Legendary Entertainment'},
  {'id': 'co0147954', 'name': 'Syncopy'}],
 'countries': 'USA, UK',
 'countryList': [{'key': 'USA', 'value': 'USA'}, {'key': 'UK', 'value': 'UK'}],
 'languages': 'English, Japanese, French',
 'languageList': [{'key': 'English', 'value': 'English'},
  {'key': 'Japanese', 'value': 'Japanese'},
  {'key': 'French', 'value': 'French'}],
 'contentRating': 'PG-13',
 'imDbRating': '8.8',
 'imDbRatingVotes': '2325894',
 'metacriticRating': '74',
 'ratings': None,
 'wikipedia': None,
 'posters': None,
 'images': None,
 'trailer': None,
 'boxOffice': {'budget': '$160,000,000 (estimated)',
  'openingWeekendUSA': '$62,785,337',
  'grossUSA': '$292,587,330',
  'cumulativeWorldwideGross': '$836,848,102'},
 'tagline': None,
 'keywords': 'dream,ambiguous ending,subconscious,mindbender,surprise ending',
 'keywordList': ['dream',
  'ambiguous ending',
  'subconscious',
  'mindbender',
  'surprise ending'],
 'similars': [{'id': 'tt0816692',
   'title': 'Interstellar',

In [84]:
df_pelicula=  pd.json_normalize(response.json())
df_pelicula

,id,title,originalTitle,fullTitle,type,year,image,releaseDate,runtimeMins,runtimeStr,...,keywords,keywordList,similars,tvSeriesInfo,tvEpisodeInfo,errorMessage,boxOffice.budget,boxOffice.openingWeekendUSA,boxOffice.grossUSA,boxOffice.cumulativeWorldwideGross
0,tt1375666,Inception,,Inception (2010),Movie,2010,https://m.media-amazon.com/images/M/MV5BMjAxMz...,2010-07-16,148,2h 28min,...,"dream,ambiguous ending,subconscious,mindbender...","[dream, ambiguous ending, subconscious, mindbe...","[{'id': 'tt0816692', 'title': 'Interstellar', ...",None,None,None,"$160,000,000 (estimated)","$62,785,337","$292,587,330","$836,848,102"

In [24]:
def llamada_API():
    
    # hacemos la llamada  a la API
    url = 'https://imdb-api.com/en/API/Title/k_q91fvr3w/tt1375666/FullActor'

    response = requests.get(url=url)
    codigo_estado = response.status_code
    razon_estado = response.reason
    if codigo_estado == 200:
        print('La peticion se ha realizado correctamente, se ha devuelto el código de estado:',codigo_estado,' y como razón del código de estado: ',razon_estado)
    elif codigo_estado == 402:
        print('No se ha podido autorizar usario, se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)
    elif codigo_estado == 404:
        print('Algo ha salido mal, el recurso no se ha encontrado,se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)
    else:
        print('Algo inesperado ha ocurrido, se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)

    # convertimos los resultados en un dataframe: 
    df = pd.DataFrame.from_dict(pd.json_normalize(response.json()))
    return df

In [26]:
df_pelicula = llamada_API()
df_pelicula

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200  y como razón del código de estado:  OK

,id,title,originalTitle,fullTitle,type,year,image,releaseDate,runtimeMins,runtimeStr,plot,plotLocal,plotLocalIsRtl,awards,directors,directorList,writers,writerList,stars,starList,actorList,fullCast,genres,genreList,companies,companyList,countries,countryList,languages,languageList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,ratings,wikipedia,posters,images,trailer,tagline,keywords,keywordList,similars,tvSeriesInfo,tvEpisodeInfo,errorMessage,boxOffice.budget,boxOffice.openingWeekendUSA,boxOffice.grossUSA,boxOffice.cumulativeWorldwideGross
0,tt1375666,Inception,,Inception (2010),Movie,2010,https://m.media-amazon.com/images/M/MV5BMjAxMz...,2010-07-16,148,2h 28min,A thief who steals corporate secrets through t...,,False,"Top rated movie #13 | Won 4 Oscars, 158 wins &...",Christopher Nolan,"[{'id': 'nm0634240', 'name': 'Christopher Nola...",Christopher Nolan,"[{'id': 'nm0634240', 'name': 'Christopher Nola...","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","[{'id': 'nm0000138', 'name': 'Leonardo DiCapri...","[{'id': 'nm0000138', 'image': 'https://m.media...",None,"Action, Adventure, Sci-Fi","[{'key': 'Action', 'value': 'Action'}, {'key':...","Warner Bros., Legendary Entertainment, Syncopy","[{'id': 'co0002663', 'name': 'Warner Bros.'}, ...","USA, UK","[{'key': 'USA', 'value': 'USA'}, {'key': 'UK',...","English, Japanese, French","[{'key': 'English', 'value': 'English'}, {'key...",PG-13,8.8,2325894,74,None,None,None,None,None,None,"dream,ambiguous ending,subconscious,mindbender...","[dream, ambiguous ending, subconscious, mindbe...","[{'id': 'tt0816692', 'title': 'Interstellar', ...",None,None,None,"$160,000,000 (estimated)","$62,785,337","$292,587,330","$836,848,102"

#### Definir la estructura de una BBDD  donde podríamos almacenar los datos e insertar los datos desde Python. (Si no te funciona por problemas de conectividad de Python con MySQL no te preocupes, deja el código sin ejecutar)

### Cargamos los datos

In [13]:
df= pd.read_csv(r'C:\Users\antoa\Desktop\ADALAB\reevaluacion\reevaluacion-modulo2-da-promo-b-nombre_antoanela\df_eda_limpieza.csv', index_col= 0)
df.head()

,movie_title,duration,director_name,director_facebook_likes,actor_1_name,actor_1_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_3_name,actor_3_facebook_likes,...,language,country,content_rating,aspect_ratio,movie_imdb_link,gross,budget,imdb_score,genre_1,genre_2
0,Avatar,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,...,English,USA,PG-13,1.78,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,760505847.0,237000000.0,7.9,Action,Adventure
1,Pirates of the Caribbean: At World's End,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,...,English,USA,PG-13,2.35,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,309404152.0,300000000.0,7.1,Action,Adventure
2,Spectre,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,...,English,UK,PG-13,2.35,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,200074175.0,245000000.0,6.8,Action,Adventure
3,The Dark Knight Rises,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,...,English,USA,PG-13,2.35,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,448130642.0,250000000.0,8.5,Action,Thriller
5,John Carter,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,Polly Walker,530.0,...,English,USA,PG-13,2.35,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,73058679.0,263700000.0,6.6,Action,Adventure

### Conexión con el servidor de SQL y Creación BBDD

In [36]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host='127.0.0.1',
      user="root",
      password='AlumnaAdalab' 
    )
    print("Conexión realizada con éxito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [52]:
#creamos nuestra base de datos
mydb = crear_bbdd("imdb")

Conexión realizada con éxito
MySQLCursor: CREATE DATABASE IF NOT EXISTS imdb;

### Creamos la tabla

In [53]:
def crear_insertar_tabla(nombre_bbdd, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3739 entries, 0 to 5042
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                3739 non-null   object
 1   duration                   3739 non-null   float64
 2   director_name              3739 non-null   object
 3   director_facebook_likes    3739 non-null   float64
 4   actor_1_name               3739 non-null   object
 5   actor_1_facebook_likes     3739 non-null   float64
 6   actor_2_name               3739 non-null   object
 7   actor_2_facebook_likes     3739 non-null   float64
 8   actor_3_name               3739 non-null   object
 9   actor_3_facebook_likes     3739 non-null   float64
 10  num_user_for_reviews       3739 non-null   float64
 11  num_critic_for_reviews     3739 non-null   float64
 12  num_voted_users            3739 non-null   int64
 13  cast_total_facebook_likes  3739 non-null   int64
 14  movie_facebook_likes       3739 non-null   int64
 15  plot_keywords              3739 non-null   object
 16  facenumber_in_poster       3739 non-null   float64
 17  color                      3739 non-null   object
 18  title_year                 3739 non-null   float64
 19  language                   3739 non-null   object
 20  country                    3739 non-null   object
 21  content_rating             3739 non-null   object
 22  aspect_ratio               3739 non-null   float64
 23  movie_imdb_link            3739 non-null   object
 24  gross                      3739 non-null   float64
 25  budget                     3739 non-null   float64
 26  imdb_score                 3739 non-null   float64
 27  genre_1                    3739 non-null   object
 28  genre_2                    3739 non-null   object
dtypes: float64(13), int64(3), object(13)
memory usage: 876.3+ KB

In [29]:
df.columns

Index(['movie_title', 'duration', 'director_name', 'director_facebook_likes',
       'actor_1_name', 'actor_1_facebook_likes', 'actor_2_name',
       'actor_2_facebook_likes', 'actor_3_name', 'actor_3_facebook_likes',
       'num_user_for_reviews', 'num_critic_for_reviews', 'num_voted_users',
       'cast_total_facebook_likes', 'movie_facebook_likes', 'plot_keywords',
       'facenumber_in_poster', 'color', 'title_year', 'language', 'country',
       'content_rating', 'aspect_ratio', 'movie_imdb_link', 'gross', 'budget',
       'imdb_score', 'genre_1', 'genre_2'],
      dtype='object')

In [30]:
df1= df.drop(['director_facebook_likes', 'actor_2_facebook_likes', 'actor_1_facebook_likes','actor_3_facebook_likes','num_user_for_reviews','num_critic_for_reviews', 'num_voted_users',
       'cast_total_facebook_likes', 'movie_facebook_likes', 'plot_keywords', 'facenumber_in_poster', 'color', 'content_rating', 'aspect_ratio', 'movie_imdb_link','genre_2'], axis=1)

In [31]:
df1.head()

,movie_title,duration,director_name,actor_1_name,actor_2_name,actor_3_name,title_year,language,country,gross,budget,imdb_score,genre_1
0,Avatar,178.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,2009.0,English,USA,760505847.0,237000000.0,7.9,Action
1,Pirates of the Caribbean: At World's End,169.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,2007.0,English,USA,309404152.0,300000000.0,7.1,Action
2,Spectre,148.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,2015.0,English,UK,200074175.0,245000000.0,6.8,Action
3,The Dark Knight Rises,164.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,2012.0,English,USA,448130642.0,250000000.0,8.5,Action
5,John Carter,132.0,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,2012.0,English,USA,73058679.0,263700000.0,6.6,Action

In [32]:
df1.columns

Index(['movie_title', 'duration', 'director_name', 'actor_1_name',
       'actor_2_name', 'actor_3_name', 'title_year', 'language', 'country',
       'gross', 'budget', 'imdb_score', 'genre_1'],
      dtype='object')

Defino las tablas que voy a crear:
- peliculas: movie_title, 'duration','title_year', 'language', 'country',
       'gross', 'budget', 'imdb_score', 'genre_1'
- casting: 'director_name', 'actor_1_name',
       'actor_2_name', 'actor_3_name'
-Nos vamos a crear una columna id pelicula que va a ser autoincremental, va a ser primary key en peliculas y foreign key en casting

In [58]:
tabla_peliculas = '''
CREATE TABLE IF NOT EXISTS `imdb`.`peliculas` (`id_pelicula` INT NOT NULL AUTO_INCREMENT, 
  `movie_title` VARCHAR(200),
  `duration` DOUBLE,
  `title_year` FLOAT, 
  `language` VARCHAR(200), 
  `country` VARCHAR (200),
  `gross` DOUBLE,
  `budget` DOUBLE, 
  `imdb_score` FLOAT, 
  `genre_1` VARCHAR(200),
  PRIMARY KEY (`id_pelicula`))
  ENGINE = InnoDB;
'''

In [62]:
tabla_casting = '''
CREATE TABLE IF NOT EXISTS `imdb`.`casting` (
  `id_casting` INT NOT NULL AUTO_INCREMENT,
`id_pelicula` INT NOT NULL,
 `director_name` VARCHAR (200), 
 `actor_1_name` VARCHAR (200),
`actor_2_name` VARCHAR(200), 
`actor_3_name` VARCHAR(200),
  PRIMARY KEY (`id_casting`),
  CONSTRAINT `fk_tabla_casting_peliculas`
  FOREIGN KEY (`id_pelicula`)
  REFERENCES `imdb`.`peliculas`(`id_pelicula`))
ENGINE = InnoDB;
'''

In [60]:
crear_insertar_tabla('imdb', tabla_peliculas)

In [63]:
crear_insertar_tabla('imdb', tabla_casting)

In [102]:
df1.head(1)

,movie_title,duration,director_name,actor_1_name,actor_2_name,actor_3_name,title_year,language,country,gross,budget,imdb_score,genre_1
0,Avatar,178.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,2009.0,English,USA,760505847.0,237000000.0,7.9,Action

insertar datos

In [141]:
def insertar_datos_peliculas(df1):

    bbdd= 'imdb'
    
        
    for indice, fila in df1.iterrows(): # iteramos por el dataframe.

        # definimos nuestra query, igual que si lo hicieramos en workbench. ⚠️ Como estamos definiendo nuestra query en varias líneas usamos las triples comillas
        # lo valores que introduciremos serán los del dataframe que estamos iterando, por lo que usaremos los formats de los strings. 

            query_peliculas = f'''
                INSERT INTO peliculas (movie_title, duration, title_year, language, country, gross, budget, imdb_score,genre_1)
                VALUES ('{fila['movie_title']}', '{fila['duration']}','{fila['title_year']}','{fila['language']}','{fila['country']}', '{fila['gross']}', '{fila['budget']}', '{fila['imdb_score']}', '{fila['genre_1']}');
                    '''
        # una vez definida la query llamamos a la función que nos inserta los datos. 
        
    
            crear_insertar_tabla(bbdd, query_peliculas)

In [142]:
insertar_datos_peliculas(df1)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's End ', '169.0','2007.0','English','USA', '309404152.0', '300000000.0', '7.1',' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's End ', '169.0','2007.0','English','USA', '309404152.0', '300000000.0', '7.1',' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Chest ', '151.0','2006.0','English','USA', '423032628.0', '225000000.0', '7.3' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Chest ', '151.0','2006.0','English','USA', '423032628.0', '225000000.0', '7.3' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Apprentice ', '109.0','2010.0','English','USA', '63143812.0', '150000000.0', ' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Apprentice ', '109.0','2010.0','English','USA', '63143812.0', '150000000.0', ' at line 2

KeyboardInterrupt: